@import "../../scss/variables.scss";

body {
  background: rgb(180, 185, 190);
}


.title {
  color: $forth-text-color;

  &__paragraph {
      font-size: $fs-xs;
  }


}

h1 {
  font-size: $fs-xl;
}



