* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  font-family: $ff-primary;
}

// * main-page

.header {
  color: red;
  font-size: 22px;
  margin: 2rem 1rem;

  &__nav {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-left: 1rem;
  }
}
